a.pfeile_first:link {
	font-family: "Century Gothic";
	font-size: 12px;
	font-style: normal;
	font-weight: normal;
	text-decoration: none;
	cursor: hand;
	background-image:url(../bilder/first_grau.gif);
	width:30px;
	height:30px;
}
a.pfeile_first:hover {
	font-family: "Century Gothic";
	font-size: 12px;
	font-style: normal;
	font-weight: normal;
	text-decoration: none;
	list-style-position: outside;
	cursor: hand;
	filter: Light;
	background-image:url(../bilder/first_rot.gif);
	width:30px;
	height:30px;
}

a.pfeile_weiter:link {
	font-family: "Century Gothic";
	font-size: 12px;
	font-style: normal;
	font-weight: normal;
	text-decoration: none;
	cursor: hand;
	filter: Light;
	background-image:url(../bilder/next_grau.gif)
}
a.pfeile_weiter:hover {
	font-family: "Century Gothic";
	font-size: 12px;
	font-style: normal;
	font-weight: normal;
	text-decoration: none;
	list-style-position: outside;
	cursor: hand;
	filter: Light;
	background-image:url(../bilder/next_rot.gif);
}
a.pfeile_zurueck:link {
	font-family: "Century Gothic";
	font-size: 12px;
	font-style: normal;
	font-weight: normal;
	text-decoration: none;
	cursor: hand;
	filter: Light;
	background-image:url(../bilder/previos_grau.gif)
}
a.pfeile_zurueck:hover {
	font-family: "Century Gothic";
	font-size: 12px;
	font-style: normal;
	font-weight: normal;
	text-decoration: none;
	list-style-position: outside;
	cursor: hand;
	filter: Light;
	background-image:url(../bilder/previos_rot.gif);
}
a.pfeile_last:link {
	font-family: "Century Gothic";
	font-size: 12px;
	font-style: normal;
	font-weight: normal;
	text-decoration: none;
	cursor: hand;
	filter: Light;
	background-image:url(../bilder/last_grau.gif)
}
a.pfeile_last:hover {
	font-family: "Century Gothic";
	font-size: 12px;
	font-style: normal;
	font-weight: normal;
	text-decoration: none;
	list-style-position: outside;
	cursor: hand;
	filter: Light;
	background-image:url(../bilder/last_rot.gif);
}

div.pfeil {
	height: 30px;
	width: 30px;
	
}
img{
margin:10 0 0 10} 
