* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Century Gothic, Verdana, Geneva, Tahoma, Sans-Serif;
}

.row>.column {
    position: relative;
    left: 120px;
    padding-right: 18px;
    align-content: center;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.column {
    float: left;
    width: 25%;
}

/* The grid: Four equal columns that floats next to each other */

.column {
    float: left;
    width: 25%;
    padding: 10px;
}

/* Style the images inside the grid */

.column img {
    opacity: 0.6;
    cursor: pointer;
}

.column img:hover {
    opacity: 1;
    /* box-shadow: 2px 2px 1px 1px gray; */
}

img.hover-shadow {
    transition: 0.3s;
}

img.hover-shadow:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* Clear floats after the columns */

.row:after {
    content: "";
    display: table;
    clear: both;
}

/* The expanding image container */

.container {
    position: relative;
    right:55px;
    display: none;
    top: 20px;
}

/* Expanding image text */

#imgtext {
    position: absolute;
    left:203px;
    bottom: 15px;
    /* left: 15px; */
    color: white;
    font-size: 20px;
    color: #666666;
	font-family: Century Gothic, Verdana, Geneva, Tahoma, Sans-Serif;
	font-size: 18px;
	font-weight: bold;
    padding: 12px 12px;
    position: absolute;
    top: 1px;
    height: 50px;
    background: white;
    border-radius: 6px;
    border:1px solid white;
}


/* Closable button inside the expanded image */

.closebtn {
    position: absolute;
    top: 10px;
    right: 15px;
    color: white;
    font-size: 35px;
    cursor: pointer;
}

/* ***************** */

.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
    border-radius: 0 15px 15px 0;
    user-select: none;
    -webkit-user-select: none;
    border: #ff0000;

}

.prev {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
    border-radius: 15px 0 0 15px;
    user-select: none;
    -webkit-user-select: none;
    border: #ff0000;
}

/* Position the "next button" to the right */

.next {
    right: 0;
    border-radius: 15px 0 0 15px;
}

.prev {
    left: 0;
    border-radius: 0 15px 15px 0;
}

/* On hover, add a black background color with a little bit see-through */

.prev:hover, .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}
