/* CSS Document */

/* @media screen and (max-width: 500px) {
	.navbar a {
	  float: none;
	  display: block;
	  background-color: #4D4D4D;
	}
  } */

body {

	background-color: #000000;
	scrollbar-3dlight-color: #ffffff;
	scrollbar-arrow-color: #ff0000;
	scrollbar-face-color: #B5B1B1;
	scrollbar-track-color: #000000;
	scrollbar-darkshadow-color: #6D6B6B;
	scrollbar-highlight-color: #F1F0F0;
	scrollbar-shadow-color: #D5D2D2;
	margin: 0 auto;
}

div {
	margin: 0 auto;
	align-content: center;
}

div#haupt {
	width: 900px;
	border: 0;
	padding: 0;
	/* margin: 0 auto; */
}

div.foto {
	width: 221px;
	height: 280px;
	float: left;
	border-radius: 0 0 15px 0;
	background: rgba(0, 0, 0, 1);
	background: -moz-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(36, 34, 35, 1) 11%, rgba(48, 46, 47, 1) 21%, rgba(83, 83, 83, 1) 48%, rgba(84, 84, 84, 1) 53%, rgba(93, 93, 93, 1) 61%, rgba(111, 111, 111, 1) 62%, rgba(148, 148, 148, 1) 87%, rgba(179, 179, 179, 1) 93%, rgba(195, 193, 194, 1) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(11%, rgba(36, 34, 35, 1)), color-stop(21%, rgba(48, 46, 47, 1)), color-stop(48%, rgba(83, 83, 83, 1)), color-stop(53%, rgba(84, 84, 84, 1)), color-stop(61%, rgba(93, 93, 93, 1)), color-stop(62%, rgba(111, 111, 111, 1)), color-stop(87%, rgba(148, 148, 148, 1)), color-stop(93%, rgba(179, 179, 179, 1)), color-stop(100%, rgba(195, 193, 194, 1)));
	background: -webkit-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(36, 34, 35, 0) 11%, rgba(48, 46, 47, 1) 21%, rgba(83, 83, 83, 1) 48%, rgba(84, 84, 84, 1) 53%, rgba(93, 93, 93, 1) 61%, rgba(111, 111, 111, 1) 62%, rgba(148, 148, 148, 1) 87%, rgba(179, 179, 179, 1) 93%, rgba(195, 193, 194, 1) 100%);
	background: -o-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(36, 34, 35, 0) 11%, rgba(48, 46, 47, 1) 21%, rgba(83, 83, 83, 1) 48%, rgba(84, 84, 84, 1) 53%, rgba(93, 93, 93, 1) 61%, rgba(111, 111, 111, 1) 62%, rgba(148, 148, 148, 1) 87%, rgba(179, 179, 179, 1) 93%, rgba(195, 193, 194, 1) 100%);
	background: -ms-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(36, 34, 35, 0) 11%, rgba(48, 46, 47, 1) 21%, rgba(83, 83, 83, 1) 48%, rgba(84, 84, 84, 1) 53%, rgba(93, 93, 93, 1) 61%, rgba(111, 111, 111, 1) 62%, rgba(148, 148, 148, 1) 87%, rgba(179, 179, 179, 1) 93%, rgba(195, 193, 194, 1) 100%);
	background: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(36, 34, 35, 0) 11%, rgba(48, 46, 47, 1) 21%, rgba(83, 83, 83, 1) 48%, rgba(84, 84, 84, 1) 53%, rgba(93, 93, 93, 1) 61%, rgba(111, 111, 111, 1) 62%, rgba(148, 148, 148, 1) 87%, rgba(179, 179, 179, 1) 93%, rgba(195, 193, 194, 1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#c3c1c2', GradientType=1);
}

div#wbox {
	margin: 9px 0px 2px 0px;
	width: 205px;
	height: 273px;
	background-color: white;
	border-radius: 20px;
	box-shadow: 2px 2px 6px 2px rgba(10, 10, 10, 0.7);
	-webkit-box-shadow: 2px 2px 6px 2px rgba(10, 10, 10, 0.7);
	-moz-box-shadow: 2px 2px 6px 2px rgba(10, 10, 10, 0.7);
	-o-box-shadow: 2px 2px 6px 2px rgba(10, 10, 10, 0.7);
	-ms-box-shadow: 2px 2px 6px 2px rgba(10, 10, 10, 0.7);
	float: right;
}

div#foto {
	/* align-content: center; */
	margin: 24px 22px;
	width: 162px;
	height: 218px;
	box-shadow: 4px 6px 6px 1px rgb(58, 58, 58);
	-webkit-box-shadow: 4px 6px 6px 1px rgb(58, 58, 58);
	-moz-box-shadow: 4px 6px 6px 1px rgb(58, 58, 58);
	-o-box-shadow: 4px 6px 6px 1px rgb(58, 58, 58);
	-ms-box-shadow: 4px 6px 6px 1px rgb(58, 58, 58);
	/* vertical-align: middle; */
}

#kopf {
	background-repeat: no-repeat;
	background-image: url(../bilder/klavierunterricht_oben_hrgr.jpg);
	width: 679px;
	height: 114px;
	float: right;
}


div.nav {
	background-color: #000000;
	float: right;
	width: 657px;
	height: 57px;
	/* border: 1px solid rgb(11, 42, 216); */
	/* fill-rule: evenodd; */
}

div.leer {
	height: 15px;
	color: white;
	/* border: 1px solid rgb(216, 11, 11); */
}

div#nav {
	margin: 0;
	padding: 0px;
	height: 57px;
	width: 630px;
}

div#nav ul {
	list-style-type: none;
	margin: 0;
	padding: 20px 0 20px 0px;
	
}

div#nav ul li {
	display: inline;
	margin: 0;
	padding: 15px 0px;
	background: rgba(0, 0, 0, 1);
	background: -moz-linear-gradient(top, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 1) 25%, rgba(93, 93, 93, 1) 26%, rgba(153, 153, 153, 1) 27%, rgba(103, 103, 103, 1) 45%, rgba(83, 83, 83, 1) 50%, rgba(0, 0, 0, 1) 50%, rgba(0, 0, 0, 1) 51%, rgba(8, 8, 8, 1) 57%, rgba(33, 33, 33, 1) 63%, rgba(64, 62, 64, 1) 67%, rgba(102, 102, 102, 1) 70%, rgba(163, 163, 163, 1) 75%, rgba(0, 0, 0, 1) 77%, rgba(0, 0, 0, 1) 82%, rgba(66, 66, 66, 1) 83%, rgba(0, 0, 0, 1) 99%, rgba(0, 0, 0, 1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0, 0, 0, 1)), color-stop(25%, rgba(0, 0, 0, 1)), color-stop(26%, rgba(93, 93, 93, 1)), color-stop(27%, rgba(153, 153, 153, 1)), color-stop(45%, rgba(103, 103, 103, 1)), color-stop(50%, rgba(83, 83, 83, 1)), color-stop(50%, rgba(0, 0, 0, 1)), color-stop(51%, rgba(0, 0, 0, 1)), color-stop(57%, rgba(8, 8, 8, 1)), color-stop(63%, rgba(33, 33, 33, 1)), color-stop(67%, rgba(64, 62, 64, 1)), color-stop(70%, rgba(102, 102, 102, 1)), color-stop(75%, rgba(163, 163, 163, 1)), color-stop(77%, rgba(0, 0, 0, 1)), color-stop(82%, rgba(0, 0, 0, 1)), color-stop(83%, rgba(66, 66, 66, 1)), color-stop(99%, rgba(0, 0, 0, 1)), color-stop(100%, rgba(0, 0, 0, 1)));
	background: -webkit-linear-gradient(top, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 1) 25%, rgba(93, 93, 93, 1) 26%, rgba(153, 153, 153, 1) 27%, rgba(103, 103, 103, 1) 45%, rgba(83, 83, 83, 1) 50%, rgba(0, 0, 0, 1) 50%, rgba(0, 0, 0, 1) 51%, rgba(8, 8, 8, 1) 57%, rgba(33, 33, 33, 1) 63%, rgba(64, 62, 64, 1) 67%, rgba(102, 102, 102, 1) 70%, rgba(163, 163, 163, 1) 75%, rgba(0, 0, 0, 1) 77%, rgba(0, 0, 0, 1) 82%, rgba(66, 66, 66, 1) 83%, rgba(0, 0, 0, 1) 99%, rgba(0, 0, 0, 1) 100%);
	background: -o-linear-gradient(top, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 1) 25%, rgba(93, 93, 93, 1) 26%, rgba(153, 153, 153, 1) 27%, rgba(103, 103, 103, 1) 45%, rgba(83, 83, 83, 1) 50%, rgba(0, 0, 0, 1) 50%, rgba(0, 0, 0, 1) 51%, rgba(8, 8, 8, 1) 57%, rgba(33, 33, 33, 1) 63%, rgba(64, 62, 64, 1) 67%, rgba(102, 102, 102, 1) 70%, rgba(163, 163, 163, 1) 75%, rgba(0, 0, 0, 1) 77%, rgba(0, 0, 0, 1) 82%, rgba(66, 66, 66, 1) 83%, rgba(0, 0, 0, 1) 99%, rgba(0, 0, 0, 1) 100%);
	background: -ms-linear-gradient(top, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 1) 25%, rgba(93, 93, 93, 1) 26%, rgba(153, 153, 153, 1) 27%, rgba(103, 103, 103, 1) 45%, rgba(83, 83, 83, 1) 50%, rgba(0, 0, 0, 1) 50%, rgba(0, 0, 0, 1) 51%, rgba(8, 8, 8, 1) 57%, rgba(33, 33, 33, 1) 63%, rgba(64, 62, 64, 1) 67%, rgba(102, 102, 102, 1) 70%, rgba(163, 163, 163, 1) 75%, rgba(0, 0, 0, 1) 77%, rgba(0, 0, 0, 1) 82%, rgba(66, 66, 66, 1) 83%, rgba(0, 0, 0, 1) 99%, rgba(0, 0, 0, 1) 100%);
	background: linear-gradient(to bottom, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 1) 25%, rgba(93, 93, 93, 1) 26%, rgba(153, 153, 153, 1) 27%, rgba(103, 103, 103, 1) 45%, rgba(83, 83, 83, 1) 50%, rgba(0, 0, 0, 1) 50%, rgba(0, 0, 0, 1) 51%, rgba(8, 8, 8, 1) 57%, rgba(33, 33, 33, 1) 63%, rgba(64, 62, 64, 1) 67%, rgba(102, 102, 102, 1) 70%, rgba(163, 163, 163, 1) 75%, rgba(0, 0, 0, 1) 77%, rgba(0, 0, 0, 1) 82%, rgba(66, 66, 66, 1) 83%, rgba(0, 0, 0, 1) 99%, rgba(0, 0, 0, 1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000', GradientType=0);
}

div#nav ul li.active {
	/* display: inline; */
	margin: 0;
	background: rgba(0, 0, 0, 1);
	background: -moz-linear-gradient(top, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 1) 25%, rgba(255, 255, 255, 1) 26%, rgba(254, 244, 243, 1) 33%, rgba(254, 175, 181, 1) 40%, rgba(255, 109, 124, 1) 46%, rgba(233, 10, 31, 1) 51%, rgba(248, 5, 27, 1) 54%, rgba(255, 0, 0, 1) 55%, rgba(252, 3, 3, 1) 66%, rgba(246, 7, 30, 1) 75%, rgba(0, 0, 0, 1) 77%, rgba(0, 0, 0, 1) 82%, rgba(160, 24, 36, 1) 83%, rgba(67, 2, 8, 1) 99%, rgba(67, 2, 8, 1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0, 0, 0, 1)), color-stop(25%, rgba(0, 0, 0, 1)), color-stop(26%, rgba(255, 255, 255, 1)), color-stop(33%, rgba(254, 244, 243, 1)), color-stop(40%, rgba(254, 175, 181, 1)), color-stop(46%, rgba(255, 109, 124, 1)), color-stop(51%, rgba(233, 10, 31, 1)), color-stop(54%, rgba(248, 5, 27, 1)), color-stop(55%, rgba(255, 0, 0, 1)), color-stop(66%, rgba(252, 3, 3, 1)), color-stop(75%, rgba(246, 7, 30, 1)), color-stop(77%, rgba(0, 0, 0, 1)), color-stop(82%, rgba(0, 0, 0, 1)), color-stop(83%, rgba(160, 24, 36, 1)), color-stop(99%, rgba(67, 2, 8, 1)), color-stop(100%, rgba(67, 2, 8, 1)));
	background: -webkit-linear-gradient(top, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 1) 25%, rgba(255, 255, 255, 1) 26%, rgba(254, 244, 243, 1) 33%, rgba(254, 175, 181, 1) 40%, rgba(255, 109, 124, 1) 46%, rgba(233, 10, 31, 1) 51%, rgba(248, 5, 27, 1) 54%, rgba(255, 0, 0, 1) 55%, rgba(252, 3, 3, 1) 66%, rgba(246, 7, 30, 1) 75%, rgba(0, 0, 0, 1) 77%, rgba(0, 0, 0, 1) 82%, rgba(160, 24, 36, 1) 83%, rgba(67, 2, 8, 1) 99%, rgba(67, 2, 8, 1) 100%);
	background: -o-linear-gradient(top, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 1) 25%, rgba(255, 255, 255, 1) 26%, rgba(254, 244, 243, 1) 33%, rgba(254, 175, 181, 1) 40%, rgba(255, 109, 124, 1) 46%, rgba(233, 10, 31, 1) 51%, rgba(248, 5, 27, 1) 54%, rgba(255, 0, 0, 1) 55%, rgba(252, 3, 3, 1) 66%, rgba(246, 7, 30, 1) 75%, rgba(0, 0, 0, 1) 77%, rgba(0, 0, 0, 1) 82%, rgba(160, 24, 36, 1) 83%, rgba(67, 2, 8, 1) 99%, rgba(67, 2, 8, 1) 100%);
	background: -ms-linear-gradient(top, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 1) 25%, rgba(255, 255, 255, 1) 26%, rgba(254, 244, 243, 1) 33%, rgba(254, 175, 181, 1) 40%, rgba(255, 109, 124, 1) 46%, rgba(233, 10, 31, 1) 51%, rgba(248, 5, 27, 1) 54%, rgba(255, 0, 0, 1) 55%, rgba(252, 3, 3, 1) 66%, rgba(246, 7, 30, 1) 75%, rgba(0, 0, 0, 1) 77%, rgba(0, 0, 0, 1) 82%, rgba(160, 24, 36, 1) 83%, rgba(67, 2, 8, 1) 99%, rgba(67, 2, 8, 1) 100%);
	background: linear-gradient(to bottom, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 1) 25%, rgba(255, 255, 255, 1) 26%, rgba(254, 244, 243, 1) 33%, rgba(254, 175, 181, 1) 40%, rgba(255, 109, 124, 1) 46%, rgba(233, 10, 31, 1) 51%, rgba(248, 5, 27, 1) 54%, rgba(255, 0, 0, 1) 55%, rgba(252, 3, 3, 1) 66%, rgba(246, 7, 30, 1) 75%, rgba(0, 0, 0, 1) 77%, rgba(0, 0, 0, 1) 82%, rgba(160, 24, 36, 1) 83%, rgba(67, 2, 8, 1) 99%, rgba(67, 2, 8, 1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#430208', GradientType=0);
	height: 57px;
	font-family: Century Gothic, Verdana, Geneva, Tahoma, Sans-Serif;
	color: #ffffff;
	text-shadow: 2px -2px #FF0000;
	font-size: 15px;
	text-decoration: none;
	padding: 15px 27px 16px 27px;
}

div#nav ul li a {
	font-family: Century Gothic, Verdana, Geneva, Tahoma, Sans-Serif;
	color: #FFFFFF;
	font-size: 15px;
	padding: 35px 27px 35px 27px;
	text-decoration: none;
	vertical-align: middle;
}

div#nav ul li a:hover {
	font-family: Century Gothic, Verdana, Geneva, Tahoma, Sans-Serif;
	color: #ff0000;
	font-size: 15px;
	text-decoration: none;
}

div#nav ul li a.active {
	font-family: Century Gothic, Verdana, Geneva, Tahoma, Sans-Serif;
	color: #ffffff;
	font-size: 15px;
	font-weight: bold;
	text-decoration: none;
	padding: 2px 27px 2px 27px;
}

div#grey {
	position: absolute;
	top: 172px;
	width: 900px;
	border-radius: 20px;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	-ms-border-radius: 20px;
	-o-border-radius: 20px;
	background-color: #e9e3e3;
	z-index: -2;
	margin: 0px;
	
}

div#li_m_ob {
	position: relative;
	float: left;
	margin: 0;
	left: 221px;
	width: 140px;
	height: 109px;
	background-color: #E9E3E3;
	background-image: url(../bilder/klavierunterricht_hrgr_m_ob.jpg);
	background-repeat: no-repeat;
}

#li_m {
	position: absolute;
	float: left;
	top: 109px;
	margin: 0;
	width: 361px;
	height: 82px;
	background-color: #E9E3E3;
	background-image: url(../bilder/klavierunterricht_hrgr_ob_m.jpg);
	background-repeat: no-repeat;
}

#li_m_unt {
	position: absolute;
	float: left;
	top: 190px;
	margin: 0;
	width: 208px;
	height: 382px;
	background-color: #E9E3E3;
	background-image: url(../bilder/klavierunterricht_hrgr_re_m.jpg);
	background-repeat: no-repeat;
}



#li_m_m {
	position: absolute;
	float: left;
	top: 191px;
	left: 208px;
	margin: 0;
	width: 153px;
	height: 373px;
	background-image: url(../bilder/klavierunterricht_hrgr_m_m.jpg);
	background-repeat: no-repeat;
	z-index: -3;
}

#li_m_ind {
	position: relative;
	text-align: right;
	float: left;
	top: 138px;
	left: 68px;
	margin: 0;
	width: 668px;
	background: rgba(247, 245, 246, 0);
	background: -moz-linear-gradient(left, rgba(247, 245, 246, 1) 0%, rgba(247, 245, 246, 1) 27%, rgba(247, 245, 246, 1) 54%, rgba(233, 227, 227, 0.34) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(247, 245, 246, 1)), color-stop(27%, rgba(247, 245, 246, 1)), color-stop(54%, rgba(247, 245, 246, 1)), color-stop(100%, rgba(233, 227, 227, 0.34)));
	background: -webkit-linear-gradient(left, rgba(247, 245, 246, 1) 0%, rgba(247, 245, 246, 1) 27%, rgba(247, 245, 246, 1) 54%, rgba(233, 227, 227, 0.34) 100%);
	background: -o-linear-gradient(left, rgba(247, 245, 246, 1) 0%, rgba(247, 245, 246, 1) 27%, rgba(247, 245, 246, 1) 54%, rgba(233, 227, 227, 0.34) 100%);
	background: -ms-linear-gradient(left, rgba(247, 245, 246, 1) 0%, rgba(247, 245, 246, 1) 27%, rgba(247, 245, 246, 1) 54%, rgba(233, 227, 227, 0.34) 100%);
	background: linear-gradient(to right, rgba(247, 245, 246, 1)0%, rgba(247, 245, 246, 1) 27%, rgba(247, 245, 246, 1) 54%, rgba(233, 227, 227, 0.34) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7f5f6', endColorstr='#e9e3e3', GradientType=1);
	z-index: -4;
}

cite {
	position: relative;
	top: 60px;
	left: 110px;
	font-family: Century Gothic, Verdana, Geneva, Tahoma, Sans-Serif;
	font-size: 12px;
	font-style: normal;
	color: #4D4D4D;
	font-style: italic;
}


h1 {
	font-family: Century Gothic, Verdana, Geneva, Tahoma, Sans-Serif;
	font-size: 24px;
	font-style: normal;
	text-decoration: none;
	color: #FF0000;
	float: right;
	padding-right: 60px;
}

h2 {
	
	font-family: Century Gothic, Verdana, Geneva, Tahoma, Sans-Serif;
	color: #666666;
	font-size: 16px;
	font-weight: bold;
	text-decoration: underline;
	text-align: left;
	position: relative;
	left: 180px;
}

h3 {
	color: #666666;
	font-family: Century Gothic, Verdana, Geneva, Tahoma, Sans-Serif;
	font-size: 14px;
	font-weight: bold;
	text-align: left;
	position: relative;
	left: 180px;
}

p, ul.text_content {
	position: relative;
	top: 80px;
	left: 180px;
	text-align: left;
	width: 400px;
	
}

#p1 {
	margin-top: -60px;
	left: 180px;
	text-align: left;
	width: 400px;
}


p.text_content, ul.text_content {
	font-family: Century Gothic, Verdana, Geneva, Tahoma, Sans-Serif;
	font-size: 13px;
	font-style: normal;
	color: #4D4D4D;
	position: relative;
}
div.text_content {
	position: relative;
	top: 170px;
	left: 20px;
	width: 400px;
}

div.unterricht {
	position: relative;
	top: -80px;
	margin: 0;
	padding: 0px;
	display: block;
}

div#unterricht, div#unterricht1, div#unterricht2 {
	/* clear: both; */
	margin: 0;
	padding: 0px;
	width: 200px;
	display: box;
	display: -moz-box;
	display: -webkit-box;
	display: -ms-box;
	display: -o-box;
	box-orient: horizontal;

}

div#takt, div#takt1, div#preise, div#preise1 {
	width: 50%;
	margin: 0px;
	padding: 0px;
}

div#takt2 {
	width: 200px;
	margin: 0px;
	padding: 0px;
}

div#preise2 {
	width: 40%;
	margin: 0px;
	padding: 0px;
}
div.unten {

	height: 75px;
	display: box;
	display: -moz-box;
	display: -webkit-box;
	display: -o-box;
	display: -ms-box;
	-webkit-box-orient: vertical;
	-moz-box-orient: vertical;
	-o-box-orient: vertical;
	-ms-box-orient: vertical;

}

div.nav_unt {
	position: relative;
	width: 860px;
	top: 100px;
	vertical-align: middle;
	align-content: center;
	display: box;
	display: -moz-box;
	display: -webkit-box;
	display: -o-box;
	display: -ms-box;
	-webkit-box-orient: vertical;
	-moz-box-orient: vertical;
	-o-box-orient: vertical;
	-ms-box-orient: vertical;

}

hr#nav_unt {
	margin-top: 50px;
	align-content: center;
	z-index: -2;
	max-lines: 250px;
	width: 800px;
	border: 1px solid red;
	text-align: center;
}

ul#unt {
	margin-top: 15px;
	list-style-type: none;
	
}

ul#unt li {
	display: inline;
	padding: 0px 20px 20px 0px;
	margin: 0px 15px 0px 0px;
}

ul#unt li a {
	font-family: Century Gothic, Verdana, Geneva, Tahoma, Sans-Serif;
	color: #666666;
	font-size: 10pt;
	text-decoration: none;
	vertical-align: middle;
	padding-top: 11px;
}

a#unten {
	font-family: Century Gothic, Verdana, Geneva, Tahoma, Sans-Serif;
	font-size: 10px;
	color: #ffffff;
	vertical-align: middle;
	
}

a.unten:hover {
	font-family: Century Gothic, Verdana, Geneva, Tahoma, Sans-Serif;
	font-size: 10px;
	color: #FF0000;
	margin: 0px;
}

a.unten:link {
	font-family: Century Gothic, Verdana, Geneva, Tahoma, Sans-Serif;
	font-size: 10px;
	color: #666666;
	text-decoration: none;
}

a.unten:visited {
	font-family: Century Gothic, Verdana, Geneva, Tahoma, Sans-Serif;
	font-size: 10px;
	color: #666666;
}

.punkt {
	color: #FF0000;
	font-family: Century Gothic, Verdana, Geneva, Tahoma, Sans-Serif;
	font-size: 18px;
	padding-left: 30px;
}

.stern {
	color: #FF0000;
	font-family: "Century Gothic";
}

img{
	border: 0;
}

img.nav{
	z-index: 0;
}


