* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Century Gothic, Verdana, Geneva, Tahoma, Sans-Serif;
}

/* Grid-Erstellung 
.row für Zeilen
.column für Spalten
*/
.row>.column {
    position: relative;
    left: 120px;
    padding-right: 18px;
    align-content: center;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.column {
    float: left;
    width: 25%;
}


.column {
    float: left;
    width: 25%;
    padding: 10px;
}

/* für Bilder  */

.column img {
    opacity: 0.6;
    cursor: pointer;
}

.column img:hover {
    opacity: 1;
    /* box-shadow: 2px 2px 1px 1px gray; */
}

img.hover-shadow {
    transition: 0.3s;
}

img.hover-shadow:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* Clear floats after the columns */

.row:after {
    content: "";
    display: table;
    clear: both;
}

/* The expanding image container */

.container {
    position: relative;
    right:55px;
    display: none;
    top: 28px;
}

/* Text für grosses Bild z.B 1/9) */

#bildtext {
    position: absolute;
    left:203px;
    bottom: 15px;
    /* left: 15px; */
    color: white;
    font-size: 20px;
    color: #666666;
	font-family: Century Gothic, Verdana, Geneva, Tahoma, Sans-Serif;
	font-size: 18px;
	font-weight: bold;
    padding: 12px 12px;
    position: absolute;
    top: 1px;
    height: 50px;
    background: white;
    border-radius: 6px;
    border:1px solid white;
}


/* Button 'X' für geöffnetes Bild 
schließt ausgewähltes Bild*/

.closebtn {
    position: absolute;
    top: 10px;
    right: 15px;
    color: white;
    font-size: 35px;
    cursor: pointer;
}

