/* CSS Document */

body {
	/* background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(254,244,243,1) 2%, rgba(254,244,243,1) 11%, rgba(255,109,124,1) 38%, rgba(255,109,124,1) 50%, rgba(233,10,31,1) 52%, rgba(233,10,31,1) 61%, rgba(246,7,30,1) 72%, rgba(233,10,31,1) 87%, rgba(233,10,31,1) 100%); */
	background-color: #000000;
	scrollbar-3dlight-color: #ffffff;
	scrollbar-arrow-color: #ff0000;
	scrollbar-face-color: #B5B1B1;
	scrollbar-track-color: #000000;
	scrollbar-darkshadow-color: #6D6B6B;
	scrollbar-highlight-color: #F1F0F0;
	scrollbar-shadow-color: #D5D2D2;
	margin: 0 auto;
}

div {
	margin: 0 auto;
	align-content: center;
}

div#haupt {
	width: 900px;
	border: 0;
	padding: 0;
	/* margin: 0 auto; */
}

div.foto {
	width: 221px;
	height: 280px;
	float: left;
	border-radius: 0 0 15px 0;
	background: rgba(0, 0, 0, 1);
	background: -moz-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(36, 34, 35, 1) 11%, rgba(48, 46, 47, 1) 21%, rgba(83, 83, 83, 1) 48%, rgba(84, 84, 84, 1) 53%, rgba(93, 93, 93, 1) 61%, rgba(111, 111, 111, 1) 62%, rgba(148, 148, 148, 1) 87%, rgba(179, 179, 179, 1) 93%, rgba(195, 193, 194, 1) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(11%, rgba(36, 34, 35, 1)), color-stop(21%, rgba(48, 46, 47, 1)), color-stop(48%, rgba(83, 83, 83, 1)), color-stop(53%, rgba(84, 84, 84, 1)), color-stop(61%, rgba(93, 93, 93, 1)), color-stop(62%, rgba(111, 111, 111, 1)), color-stop(87%, rgba(148, 148, 148, 1)), color-stop(93%, rgba(179, 179, 179, 1)), color-stop(100%, rgba(195, 193, 194, 1)));
	background: -webkit-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(36, 34, 35, 0) 11%, rgba(48, 46, 47, 1) 21%, rgba(83, 83, 83, 1) 48%, rgba(84, 84, 84, 1) 53%, rgba(93, 93, 93, 1) 61%, rgba(111, 111, 111, 1) 62%, rgba(148, 148, 148, 1) 87%, rgba(179, 179, 179, 1) 93%, rgba(195, 193, 194, 1) 100%);
	background: -o-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(36, 34, 35, 0) 11%, rgba(48, 46, 47, 1) 21%, rgba(83, 83, 83, 1) 48%, rgba(84, 84, 84, 1) 53%, rgba(93, 93, 93, 1) 61%, rgba(111, 111, 111, 1) 62%, rgba(148, 148, 148, 1) 87%, rgba(179, 179, 179, 1) 93%, rgba(195, 193, 194, 1) 100%);
	background: -ms-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(36, 34, 35, 0) 11%, rgba(48, 46, 47, 1) 21%, rgba(83, 83, 83, 1) 48%, rgba(84, 84, 84, 1) 53%, rgba(93, 93, 93, 1) 61%, rgba(111, 111, 111, 1) 62%, rgba(148, 148, 148, 1) 87%, rgba(179, 179, 179, 1) 93%, rgba(195, 193, 194, 1) 100%);
	background: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(36, 34, 35, 0) 11%, rgba(48, 46, 47, 1) 21%, rgba(83, 83, 83, 1) 48%, rgba(84, 84, 84, 1) 53%, rgba(93, 93, 93, 1) 61%, rgba(111, 111, 111, 1) 62%, rgba(148, 148, 148, 1) 87%, rgba(179, 179, 179, 1) 93%, rgba(195, 193, 194, 1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#c3c1c2', GradientType=1);
}

div#wbox {
	margin: 9px 0px 2px 0px;
	width: 205px;
	height: 273px;
	background-color: white;
	border-radius: 20px;
	box-shadow: 2px 2px 6px 2px rgba(10, 10, 10, 0.7);
	float: right;
}

div#foto {
	/* align-content: center; */
	margin: 24px 22px;
	width: 162px;
	height: 218px;
	box-shadow: 4px 6px 6px 1px rgb(58, 58, 58);
	/* vertical-align: middle; */
}

#kopf {
	background-repeat: no-repeat;
	background-image: url(../bilder/klavierunterricht_oben_hrgr.jpg);
	width: 679px;
	height: 114px;
	float: right;
}

#space {
	width: 1px;
	height: 114px;
	background-image: url(bilder/space.gif);
}

div.nav {
	background-color: #000000;
	float: right;
	width: 657px;
	height: 57px;
	/* border: 1px solid rgb(11, 42, 216); */
	/* fill-rule: evenodd; */
}

div.leer {
	height: 15px;
	color: white;
	/* border: 1px solid rgb(216, 11, 11); */
}

div#nav {
	margin: 0;
	padding: 0px;
	height: 57px;
	/* border:1px solid rgb(63, 248, 63); */
	width: 630px;
}

div#nav ul {
	list-style-type: none;
	margin: 0;
	padding: 20px 0 20px 0px;
	/* padding: 20px; */
	/* border:1px solid white; */
	/* overflow: hidden; */
}

div#nav ul li {
	display: inline;
	margin: 0;
	padding: 15px 0px;
	background: rgba(0, 0, 0, 1);
	background: -moz-linear-gradient(top, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 1) 25%, rgba(93, 93, 93, 1) 26%, rgba(153, 153, 153, 1) 27%, rgba(103, 103, 103, 1) 45%, rgba(83, 83, 83, 1) 50%, rgba(0, 0, 0, 1) 50%, rgba(0, 0, 0, 1) 51%, rgba(8, 8, 8, 1) 57%, rgba(33, 33, 33, 1) 63%, rgba(64, 62, 64, 1) 67%, rgba(102, 102, 102, 1) 70%, rgba(163, 163, 163, 1) 75%, rgba(0, 0, 0, 1) 77%, rgba(0, 0, 0, 1) 82%, rgba(66, 66, 66, 1) 83%, rgba(0, 0, 0, 1) 99%, rgba(0, 0, 0, 1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0, 0, 0, 1)), color-stop(25%, rgba(0, 0, 0, 1)), color-stop(26%, rgba(93, 93, 93, 1)), color-stop(27%, rgba(153, 153, 153, 1)), color-stop(45%, rgba(103, 103, 103, 1)), color-stop(50%, rgba(83, 83, 83, 1)), color-stop(50%, rgba(0, 0, 0, 1)), color-stop(51%, rgba(0, 0, 0, 1)), color-stop(57%, rgba(8, 8, 8, 1)), color-stop(63%, rgba(33, 33, 33, 1)), color-stop(67%, rgba(64, 62, 64, 1)), color-stop(70%, rgba(102, 102, 102, 1)), color-stop(75%, rgba(163, 163, 163, 1)), color-stop(77%, rgba(0, 0, 0, 1)), color-stop(82%, rgba(0, 0, 0, 1)), color-stop(83%, rgba(66, 66, 66, 1)), color-stop(99%, rgba(0, 0, 0, 1)), color-stop(100%, rgba(0, 0, 0, 1)));
	background: -webkit-linear-gradient(top, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 1) 25%, rgba(93, 93, 93, 1) 26%, rgba(153, 153, 153, 1) 27%, rgba(103, 103, 103, 1) 45%, rgba(83, 83, 83, 1) 50%, rgba(0, 0, 0, 1) 50%, rgba(0, 0, 0, 1) 51%, rgba(8, 8, 8, 1) 57%, rgba(33, 33, 33, 1) 63%, rgba(64, 62, 64, 1) 67%, rgba(102, 102, 102, 1) 70%, rgba(163, 163, 163, 1) 75%, rgba(0, 0, 0, 1) 77%, rgba(0, 0, 0, 1) 82%, rgba(66, 66, 66, 1) 83%, rgba(0, 0, 0, 1) 99%, rgba(0, 0, 0, 1) 100%);
	background: -o-linear-gradient(top, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 1) 25%, rgba(93, 93, 93, 1) 26%, rgba(153, 153, 153, 1) 27%, rgba(103, 103, 103, 1) 45%, rgba(83, 83, 83, 1) 50%, rgba(0, 0, 0, 1) 50%, rgba(0, 0, 0, 1) 51%, rgba(8, 8, 8, 1) 57%, rgba(33, 33, 33, 1) 63%, rgba(64, 62, 64, 1) 67%, rgba(102, 102, 102, 1) 70%, rgba(163, 163, 163, 1) 75%, rgba(0, 0, 0, 1) 77%, rgba(0, 0, 0, 1) 82%, rgba(66, 66, 66, 1) 83%, rgba(0, 0, 0, 1) 99%, rgba(0, 0, 0, 1) 100%);
	background: -ms-linear-gradient(top, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 1) 25%, rgba(93, 93, 93, 1) 26%, rgba(153, 153, 153, 1) 27%, rgba(103, 103, 103, 1) 45%, rgba(83, 83, 83, 1) 50%, rgba(0, 0, 0, 1) 50%, rgba(0, 0, 0, 1) 51%, rgba(8, 8, 8, 1) 57%, rgba(33, 33, 33, 1) 63%, rgba(64, 62, 64, 1) 67%, rgba(102, 102, 102, 1) 70%, rgba(163, 163, 163, 1) 75%, rgba(0, 0, 0, 1) 77%, rgba(0, 0, 0, 1) 82%, rgba(66, 66, 66, 1) 83%, rgba(0, 0, 0, 1) 99%, rgba(0, 0, 0, 1) 100%);
	background: linear-gradient(to bottom, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 1) 25%, rgba(93, 93, 93, 1) 26%, rgba(153, 153, 153, 1) 27%, rgba(103, 103, 103, 1) 45%, rgba(83, 83, 83, 1) 50%, rgba(0, 0, 0, 1) 50%, rgba(0, 0, 0, 1) 51%, rgba(8, 8, 8, 1) 57%, rgba(33, 33, 33, 1) 63%, rgba(64, 62, 64, 1) 67%, rgba(102, 102, 102, 1) 70%, rgba(163, 163, 163, 1) 75%, rgba(0, 0, 0, 1) 77%, rgba(0, 0, 0, 1) 82%, rgba(66, 66, 66, 1) 83%, rgba(0, 0, 0, 1) 99%, rgba(0, 0, 0, 1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000', GradientType=0);
}

div#nav ul li.active {
	background: rgba(0, 0, 0, 1);
	background: -moz-linear-gradient(top, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 1) 25%, rgba(255, 255, 255, 1) 26%, rgba(254, 244, 243, 1) 33%, rgba(254, 175, 181, 1) 40%, rgba(255, 109, 124, 1) 46%, rgba(233, 10, 31, 1) 51%, rgba(248, 5, 27, 1) 54%, rgba(255, 0, 0, 1) 55%, rgba(252, 3, 3, 1) 66%, rgba(246, 7, 30, 1) 75%, rgba(0, 0, 0, 1) 77%, rgba(0, 0, 0, 1) 82%, rgba(160, 24, 36, 1) 83%, rgba(67, 2, 8, 1) 99%, rgba(67, 2, 8, 1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0, 0, 0, 1)), color-stop(25%, rgba(0, 0, 0, 1)), color-stop(26%, rgba(255, 255, 255, 1)), color-stop(33%, rgba(254, 244, 243, 1)), color-stop(40%, rgba(254, 175, 181, 1)), color-stop(46%, rgba(255, 109, 124, 1)), color-stop(51%, rgba(233, 10, 31, 1)), color-stop(54%, rgba(248, 5, 27, 1)), color-stop(55%, rgba(255, 0, 0, 1)), color-stop(66%, rgba(252, 3, 3, 1)), color-stop(75%, rgba(246, 7, 30, 1)), color-stop(77%, rgba(0, 0, 0, 1)), color-stop(82%, rgba(0, 0, 0, 1)), color-stop(83%, rgba(160, 24, 36, 1)), color-stop(99%, rgba(67, 2, 8, 1)), color-stop(100%, rgba(67, 2, 8, 1)));
	background: -webkit-linear-gradient(top, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 1) 25%, rgba(255, 255, 255, 1) 26%, rgba(254, 244, 243, 1) 33%, rgba(254, 175, 181, 1) 40%, rgba(255, 109, 124, 1) 46%, rgba(233, 10, 31, 1) 51%, rgba(248, 5, 27, 1) 54%, rgba(255, 0, 0, 1) 55%, rgba(252, 3, 3, 1) 66%, rgba(246, 7, 30, 1) 75%, rgba(0, 0, 0, 1) 77%, rgba(0, 0, 0, 1) 82%, rgba(160, 24, 36, 1) 83%, rgba(67, 2, 8, 1) 99%, rgba(67, 2, 8, 1) 100%);
	background: -o-linear-gradient(top, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 1) 25%, rgba(255, 255, 255, 1) 26%, rgba(254, 244, 243, 1) 33%, rgba(254, 175, 181, 1) 40%, rgba(255, 109, 124, 1) 46%, rgba(233, 10, 31, 1) 51%, rgba(248, 5, 27, 1) 54%, rgba(255, 0, 0, 1) 55%, rgba(252, 3, 3, 1) 66%, rgba(246, 7, 30, 1) 75%, rgba(0, 0, 0, 1) 77%, rgba(0, 0, 0, 1) 82%, rgba(160, 24, 36, 1) 83%, rgba(67, 2, 8, 1) 99%, rgba(67, 2, 8, 1) 100%);
	background: -ms-linear-gradient(top, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 1) 25%, rgba(255, 255, 255, 1) 26%, rgba(254, 244, 243, 1) 33%, rgba(254, 175, 181, 1) 40%, rgba(255, 109, 124, 1) 46%, rgba(233, 10, 31, 1) 51%, rgba(248, 5, 27, 1) 54%, rgba(255, 0, 0, 1) 55%, rgba(252, 3, 3, 1) 66%, rgba(246, 7, 30, 1) 75%, rgba(0, 0, 0, 1) 77%, rgba(0, 0, 0, 1) 82%, rgba(160, 24, 36, 1) 83%, rgba(67, 2, 8, 1) 99%, rgba(67, 2, 8, 1) 100%);
	background: linear-gradient(to bottom, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 1) 25%, rgba(255, 255, 255, 1) 26%, rgba(254, 244, 243, 1) 33%, rgba(254, 175, 181, 1) 40%, rgba(255, 109, 124, 1) 46%, rgba(233, 10, 31, 1) 51%, rgba(248, 5, 27, 1) 54%, rgba(255, 0, 0, 1) 55%, rgba(252, 3, 3, 1) 66%, rgba(246, 7, 30, 1) 75%, rgba(0, 0, 0, 1) 77%, rgba(0, 0, 0, 1) 82%, rgba(160, 24, 36, 1) 83%, rgba(67, 2, 8, 1) 99%, rgba(67, 2, 8, 1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#430208', GradientType=0);
	height: 57px;
	font-family: Century Gothic, Verdana, Geneva, Tahoma, Sans-Serif;
	color: #ffffff;
	text-shadow: 2px -2px #FF0000;
	font-size: 15px;
	text-decoration: none;
	padding: 15px 28px 16px 28px;
}

div#nav ul li a {
	font-family: Century Gothic, Verdana, Geneva, Tahoma, Sans-Serif;
	color: #FFFFFF;
	font-size: 15px;
	/* padding-top: 25px; */
	padding: 35px 28px 35px 28px;
	text-decoration: none;
	vertical-align: middle;
	/* height: 57px; */
}

div#nav ul li a:hover {
	font-family: Century Gothic, Verdana, Geneva, Tahoma, Sans-Serif;
	color: #ff0000;
	font-size: 15px;
	text-decoration: none;
}

div#nav ul li a.active {
	font-family: Century Gothic, Verdana, Geneva, Tahoma, Sans-Serif;
	color: #ffffff;
	font-size: 15px;
	font-weight: bold;
	text-decoration: none;
	padding: 2px 28px 2px 28px;
}

div#schwarz {
	width: 24px;
	height: 57px;
	background-color: #000000;
	float: right;
	border: 1px solid white;
}

div#grey {
	position: absolute;
	top: 172px;
	width: 900px;
	height: 100%;
	border-radius: 20px 20px 0px 0px;
	background-color: #e9e3e3;
	z-index: -1;
	margin: 0px;
	/* border: 1px solid rgb(74, 160, 74); */
}

/* div#grey {
	width: 679px;
	height: 109px;
	border-radius: 0px 20px 0 0;
	background-color: #ede3e3ec;
	float: right;
	margin: 0px;
} */

#li_m_ob {
	position: relative;
	float: left;
	margin: 0;
	left: 221px;
	width: 140px;
	height: 109px;
	background-color: #E9E3E3;
	background-image: url(../bilder/klavierunterricht_hrgr_m_ob.jpg);
	background-repeat: no-repeat;
}

#li_m {
	position: absolute;
	float: left;
	top: 109px;
	margin: 0;
	width: 361px;
	height: 82px;
	background-color: #E9E3E3;
	background-image: url(../bilder/klavierunterricht_hrgr_ob_m.jpg);
	background-repeat: no-repeat;
}

#li_m_unt {
	position: absolute;
	float: left;
	top: 191px;
	margin: 0;
	width: 208px;
	height: 382px;
	background-color: #E9E3E3;
	background-image: url(../bilder/klavierunterricht_hrgr_re_m.jpg);
	background-repeat: no-repeat;
}

#li_m_m {
	position: absolute;
	float: left;
	top: 191px;
	left: 208px;
	margin: 0;
	width: 153px;
	height: 373px;
	background-image: url(../bilder/klavierunterricht_hrgr_m_m.jpg);
	background-repeat: no-repeat;
}

#li_m_ind {
	position: absolute;
	/* border: 1px solid red; */
	float: left;
	top: 138px;
	left: 208px;
	margin: 0;
	width: 668px;
	height: 425px;
	background: rgba(247, 245, 246, 0);
	background: -moz-linear-gradient(left, rgba(247, 245, 246, 0) 0%, rgba(247, 245, 246, 1) 27%, rgba(247, 245, 246, 1) 54%, rgba(233, 227, 227, 0.34) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(247, 245, 246, 0)), color-stop(27%, rgba(247, 245, 246, 1)), color-stop(54%, rgba(247, 245, 246, 1)), color-stop(100%, rgba(233, 227, 227, 0.34)));
	background: -webkit-linear-gradient(left, rgba(247, 245, 246, 0) 0%, rgba(247, 245, 246, 1) 27%, rgba(247, 245, 246, 1) 54%, rgba(233, 227, 227, 0.34) 100%);
	background: -o-linear-gradient(left, rgba(247, 245, 246, 0) 0%, rgba(247, 245, 246, 1) 27%, rgba(247, 245, 246, 1) 54%, rgba(233, 227, 227, 0.34) 100%);
	background: -ms-linear-gradient(left, rgba(247, 245, 246, 0) 0%, rgba(247, 245, 246, 1) 27%, rgba(247, 245, 246, 1) 54%, rgba(233, 227, 227, 0.34) 100%);
	background: linear-gradient(to right, rgba(247, 245, 246, 0) 0%, rgba(247, 245, 246, 1) 27%, rgba(247, 245, 246, 1) 54%, rgba(233, 227, 227, 0.34) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7f5f6', endColorstr='#e9e3e3', GradientType=1);
	/* background-repeat: repeat-y; */
}

.text_content {
	font-family: Century Gothic, Verdana, Geneva, Tahoma, Sans-Serif;
	font-size: 12px;
	font-style: normal;
	color: #4D4D4D;
	position: relative;
	top: 170px;
	left: 140px;
	width: 400px;
}

/* div.text_content{
	position: relative;
	top: 170px;
	left: 20px;
	width: 400px;
} */

cite {
	position: absolute;
	top: 70px;
	right: 100px;
	font-family: Century Gothic, Verdana, Geneva, Tahoma, Sans-Serif;
	font-size: 12px;
	font-style: normal;
	color: #4D4D4D;
	/* float: right; */
	font-style: italic;
	text-align: right;
}

h1 {
	font-family: Century Gothic, Verdana, Geneva, Tahoma, Sans-Serif;
	font-size: 24px;
	font-style: normal;
	text-decoration: none;
	color: #FF0000;
	float: right;
	padding-right: 100px;
}

div.nav_unt #unt {
	position: absolute;
	/* bottom: 20px; */
	top: 632px;
	width: 860px;
	left: 0px;
	height: 50px;
	/* height: 100%; */
	/* border-radius: 0px 0px 20px 20px; */
	background-color: #e9e3e3;
	/* z-index: 1; */
	margin: 0px auto;
	vertical-align: middle;
	/* align-content: center; */
	border-radius: 0 0 20px 20px;
	/* border: 1px solid greenyellow; */
	/* border-top: 2px solid red; */
}

.nav_unt hr {
	position: absolute;
	left:50px;
	top:620px;
	max-lines: 250px;
	width:800px;
	border: 1px solid red;
}

.nav_unt ul#unt {
	list-style-type: none;
	padding-top: 20px;
	/* text-decoration: none; */
}

.nav_unt ul#unt li {
	display: inline;
	padding: 20px;
}

.nav ul#unt li a {
	font-family: Century Gothic, Verdana, Geneva, Tahoma, Sans-Serif;
	color: #666666;
	/* padding-top: 30px; */
	font-size: 10pt;
	text-decoration: none;

	/* vertical-align: middle; */
}

/* a:hover {
	text-decoration: none;
	font-family: Century Gothic, Verdana, Geneva, Tahoma, Sans-Serif;
	color: #FFFFFF;
	font-size: 11pt;
	
} */

a#unten {
	font-family: Century Gothic, Verdana, Geneva, Tahoma, Sans-Serif;
	font-size: 13px;
	color: #ffffff;
	margin-top: 20px;
}

a.unten:hover {
	font-family: Century Gothic, Verdana, Geneva, Tahoma, Sans-Serif;
	font-size: 13px;
	color: #FF0000;
	margin-top: 20px;
}

a.unten:link {
	font-family: Century Gothic, Verdana, Geneva, Tahoma, Sans-Serif;
	font-size: 13px;
	color: #666666;
	text-decoration: none;
}

a.unten:visited {
	font-family: Century Gothic, Verdana, Geneva, Tahoma, Sans-Serif;
	font-size: 13px;
	color: #666666;
}

.punkt {
	color: #FF0000;
	font-family: Century Gothic, Verdana, Geneva, Tahoma, Sans-Serif;
	font-size: 20px;
	padding-left: 30px;
}

.stern {
	color: #FF0000;
	font-family: "Century Gothic";
}

h2 {
	font-family: Century Gothic, Verdana, Geneva, Tahoma, Sans-Serif;
	color: #666666;
	font-size: 14px;
	font-weight: bold;
	text-decoration: underline;
}

h3 {
	color: #666666;
	font-family: Century Gothic, Verdana, Geneva, Tahoma, Sans-Serif;
	font-size: 13px;
	font-weight: bold;
}

textarea {
	scrollbar-3dlight-color: #ffffff;
	scrollbar-arrow-color: #ff0000;
	scrollbar-face-color: #B5B1B1;
	scrollbar-track-color: #E9E3E3;
	scrollbar-darkshadow-color: #6D6B6B;
	scrollbar-highlight-color: #F1F0F0;
	scrollbar-shadow-color: #D5D2D2;
}

/* background: rgba(0, 0, 0, 1);
	background: -moz-linear-gradient(top, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 1) 25%, rgba(93, 93, 93, 1) 26%, rgba(153, 153, 153, 1) 27%, rgba(103, 103, 103, 1) 45%, rgba(83, 83, 83, 1) 50%, rgba(0, 0, 0, 1) 50%, rgba(0, 0, 0, 1) 51%, rgba(8, 8, 8, 1) 57%, rgba(33, 33, 33, 1) 63%, rgba(64, 62, 64, 1) 67%, rgba(102, 102, 102, 1) 70%, rgba(163, 163, 163, 1) 75%, rgba(0, 0, 0, 1) 77%, rgba(0, 0, 0, 1) 82%, rgba(66, 66, 66, 1) 83%, rgba(0, 0, 0, 1) 99%, rgba(0, 0, 0, 1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0, 0, 0, 1)), color-stop(25%, rgba(0, 0, 0, 1)), color-stop(26%, rgba(93, 93, 93, 1)), color-stop(27%, rgba(153, 153, 153, 1)), color-stop(45%, rgba(103, 103, 103, 1)), color-stop(50%, rgba(83, 83, 83, 1)), color-stop(50%, rgba(0, 0, 0, 1)), color-stop(51%, rgba(0, 0, 0, 1)), color-stop(57%, rgba(8, 8, 8, 1)), color-stop(63%, rgba(33, 33, 33, 1)), color-stop(67%, rgba(64, 62, 64, 1)), color-stop(70%, rgba(102, 102, 102, 1)), color-stop(75%, rgba(163, 163, 163, 1)), color-stop(77%, rgba(0, 0, 0, 1)), color-stop(82%, rgba(0, 0, 0, 1)), color-stop(83%, rgba(66, 66, 66, 1)), color-stop(99%, rgba(0, 0, 0, 1)), color-stop(100%, rgba(0, 0, 0, 1)));
	background: -webkit-linear-gradient(top, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 1) 25%, rgba(93, 93, 93, 1) 26%, rgba(153, 153, 153, 1) 27%, rgba(103, 103, 103, 1) 45%, rgba(83, 83, 83, 1) 50%, rgba(0, 0, 0, 1) 50%, rgba(0, 0, 0, 1) 51%, rgba(8, 8, 8, 1) 57%, rgba(33, 33, 33, 1) 63%, rgba(64, 62, 64, 1) 67%, rgba(102, 102, 102, 1) 70%, rgba(163, 163, 163, 1) 75%, rgba(0, 0, 0, 1) 77%, rgba(0, 0, 0, 1) 82%, rgba(66, 66, 66, 1) 83%, rgba(0, 0, 0, 1) 99%, rgba(0, 0, 0, 1) 100%);
	background: -o-linear-gradient(top, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 1) 25%, rgba(93, 93, 93, 1) 26%, rgba(153, 153, 153, 1) 27%, rgba(103, 103, 103, 1) 45%, rgba(83, 83, 83, 1) 50%, rgba(0, 0, 0, 1) 50%, rgba(0, 0, 0, 1) 51%, rgba(8, 8, 8, 1) 57%, rgba(33, 33, 33, 1) 63%, rgba(64, 62, 64, 1) 67%, rgba(102, 102, 102, 1) 70%, rgba(163, 163, 163, 1) 75%, rgba(0, 0, 0, 1) 77%, rgba(0, 0, 0, 1) 82%, rgba(66, 66, 66, 1) 83%, rgba(0, 0, 0, 1) 99%, rgba(0, 0, 0, 1) 100%);
	background: -ms-linear-gradient(top, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 1) 25%, rgba(93, 93, 93, 1) 26%, rgba(153, 153, 153, 1) 27%, rgba(103, 103, 103, 1) 45%, rgba(83, 83, 83, 1) 50%, rgba(0, 0, 0, 1) 50%, rgba(0, 0, 0, 1) 51%, rgba(8, 8, 8, 1) 57%, rgba(33, 33, 33, 1) 63%, rgba(64, 62, 64, 1) 67%, rgba(102, 102, 102, 1) 70%, rgba(163, 163, 163, 1) 75%, rgba(0, 0, 0, 1) 77%, rgba(0, 0, 0, 1) 82%, rgba(66, 66, 66, 1) 83%, rgba(0, 0, 0, 1) 99%, rgba(0, 0, 0, 1) 100%);
	background: linear-gradient(to bottom, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 1) 25%, rgba(93, 93, 93, 1) 26%, rgba(153, 153, 153, 1) 27%, rgba(103, 103, 103, 1) 45%, rgba(83, 83, 83, 1) 50%, rgba(0, 0, 0, 1) 50%, rgba(0, 0, 0, 1) 51%, rgba(8, 8, 8, 1) 57%, rgba(33, 33, 33, 1) 63%, rgba(64, 62, 64, 1) 67%, rgba(102, 102, 102, 1) 70%, rgba(163, 163, 163, 1) 75%, rgba(0, 0, 0, 1) 77%, rgba(0, 0, 0, 1) 82%, rgba(66, 66, 66, 1) 83%, rgba(0, 0, 0, 1) 99%, rgba(0, 0, 0, 1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000', GradientType=0); */

/* background: rgba(255,255,255,1);
background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(254,244,243,1) 2%, rgba(254,244,243,1) 11%, rgba(255,109,124,1) 38%, rgba(255,109,124,1) 50%, rgba(233,10,31,1) 52%, rgba(233,10,31,1) 61%, rgba(246,7,30,1) 72%, rgba(233,10,31,1) 87%, rgba(233,10,31,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(2%, rgba(254,244,243,1)), color-stop(11%, rgba(254,244,243,1)), color-stop(38%, rgba(255,109,124,1)), color-stop(50%, rgba(255,109,124,1)), color-stop(52%, rgba(233,10,31,1)), color-stop(61%, rgba(233,10,31,1)), color-stop(72%, rgba(246,7,30,1)), color-stop(87%, rgba(233,10,31,1)), color-stop(100%, rgba(233,10,31,1)));
background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(254,244,243,1) 2%, rgba(254,244,243,1) 11%, rgba(255,109,124,1) 38%, rgba(255,109,124,1) 50%, rgba(233,10,31,1) 52%, rgba(233,10,31,1) 61%, rgba(246,7,30,1) 72%, rgba(233,10,31,1) 87%, rgba(233,10,31,1) 100%); */

/*background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(254,244,243,1) 2%, rgba(254,244,243,1) 11%, rgba(255,109,124,1) 38%, rgba(255,109,124,1) 50%, rgba(233,10,31,1) 52%, rgba(233,10,31,1) 61%, rgba(246,7,30,1) 72%, rgba(233,10,31,1) 87%, rgba(233,10,31,1) 100%);
background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(254,244,243,1) 2%, rgba(254,244,243,1) 11%, rgba(255,109,124,1) 38%, rgba(255,109,124,1) 50%, rgba(233,10,31,1) 52%, rgba(233,10,31,1) 61%, rgba(246,7,30,1) 72%, rgba(233,10,31,1) 87%, rgba(233,10,31,1) 100%);
background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(254,244,243,1) 2%, rgba(254,244,243,1) 11%, rgba(255,109,124,1) 38%, rgba(255,109,124,1) 50%, rgba(233,10,31,1) 52%, rgba(233,10,31,1) 61%, rgba(246,7,30,1) 72%, rgba(233,10,31,1) 87%, rgba(233,10,31,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e90a1f', GradientType=0 ); */

/* background: rgba(0,0,0,1);
background: -moz-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 25%, rgba(255,255,255,1) 26%, rgba(254,244,243,1) 33%, rgba(254,175,181,1) 40%, rgba(255,109,124,1) 46%, rgba(233,10,31,1) 51%, rgba(248,5,27,1) 54%, rgba(255,0,0,1) 55%, rgba(252,3,3,1) 66%, rgba(246,7,30,1) 75%, rgba(0,0,0,1) 77%, rgba(0,0,0,1) 82%, rgba(160,24,36,1) 83%, rgba(67,2,8,1) 99%, rgba(67,2,8,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0,0,0,1)), color-stop(25%, rgba(0,0,0,1)), color-stop(26%, rgba(255,255,255,1)), color-stop(33%, rgba(254,244,243,1)), color-stop(40%, rgba(254,175,181,1)), color-stop(46%, rgba(255,109,124,1)), color-stop(51%, rgba(233,10,31,1)), color-stop(54%, rgba(248,5,27,1)), color-stop(55%, rgba(255,0,0,1)), color-stop(66%, rgba(252,3,3,1)), color-stop(75%, rgba(246,7,30,1)), color-stop(77%, rgba(0,0,0,1)), color-stop(82%, rgba(0,0,0,1)), color-stop(83%, rgba(160,24,36,1)), color-stop(99%, rgba(67,2,8,1)), color-stop(100%, rgba(67,2,8,1)));
background: -webkit-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 25%, rgba(255,255,255,1) 26%, rgba(254,244,243,1) 33%, rgba(254,175,181,1) 40%, rgba(255,109,124,1) 46%, rgba(233,10,31,1) 51%, rgba(248,5,27,1) 54%, rgba(255,0,0,1) 55%, rgba(252,3,3,1) 66%, rgba(246,7,30,1) 75%, rgba(0,0,0,1) 77%, rgba(0,0,0,1) 82%, rgba(160,24,36,1) 83%, rgba(67,2,8,1) 99%, rgba(67,2,8,1) 100%);
background: -o-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 25%, rgba(255,255,255,1) 26%, rgba(254,244,243,1) 33%, rgba(254,175,181,1) 40%, rgba(255,109,124,1) 46%, rgba(233,10,31,1) 51%, rgba(248,5,27,1) 54%, rgba(255,0,0,1) 55%, rgba(252,3,3,1) 66%, rgba(246,7,30,1) 75%, rgba(0,0,0,1) 77%, rgba(0,0,0,1) 82%, rgba(160,24,36,1) 83%, rgba(67,2,8,1) 99%, rgba(67,2,8,1) 100%);
background: -ms-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 25%, rgba(255,255,255,1) 26%, rgba(254,244,243,1) 33%, rgba(254,175,181,1) 40%, rgba(255,109,124,1) 46%, rgba(233,10,31,1) 51%, rgba(248,5,27,1) 54%, rgba(255,0,0,1) 55%, rgba(252,3,3,1) 66%, rgba(246,7,30,1) 75%, rgba(0,0,0,1) 77%, rgba(0,0,0,1) 82%, rgba(160,24,36,1) 83%, rgba(67,2,8,1) 99%, rgba(67,2,8,1) 100%);
background: linear-gradient(to bottom, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 25%, rgba(255,255,255,1) 26%, rgba(254,244,243,1) 33%, rgba(254,175,181,1) 40%, rgba(255,109,124,1) 46%, rgba(233,10,31,1) 51%, rgba(248,5,27,1) 54%, rgba(255,0,0,1) 55%, rgba(252,3,3,1) 66%, rgba(246,7,30,1) 75%, rgba(0,0,0,1) 77%, rgba(0,0,0,1) 82%, rgba(160,24,36,1) 83%, rgba(67,2,8,1) 99%, rgba(67,2,8,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#430208', GradientType=0 ); */

/* background: rgba(76,76,76,1);
	background: -moz-linear-gradient(top, rgba(76,76,76,1) 0%, rgba(89,89,89,1) 7%, rgba(71,71,71,1) 32%, rgba(44,44,44,1) 50%, rgba(0,0,0,1) 51%, rgba(17,17,17,1) 65%, rgba(99,92,99,1) 85%, rgba(117,117,117,1) 90%, rgba(237,232,237,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(76,76,76,1)), color-stop(7%, rgba(89,89,89,1)), color-stop(32%, rgba(71,71,71,1)), color-stop(50%, rgba(44,44,44,1)), color-stop(51%, rgba(0,0,0,1)), color-stop(65%, rgba(17,17,17,1)), color-stop(85%, rgba(99,92,99,1)), color-stop(90%, rgba(117,117,117,1)), color-stop(100%, rgba(237,232,237,1)));
	background: -webkit-linear-gradient(top, rgba(76,76,76,1) 0%, rgba(89,89,89,1) 7%, rgba(71,71,71,1) 32%, rgba(44,44,44,1) 50%, rgba(0,0,0,1) 51%, rgba(17,17,17,1) 65%, rgba(99,92,99,1) 85%, rgba(117,117,117,1) 90%, rgba(237,232,237,1) 100%);
	background: -o-linear-gradient(top, rgba(76,76,76,1) 0%, rgba(89,89,89,1) 7%, rgba(71,71,71,1) 32%, rgba(44,44,44,1) 50%, rgba(0,0,0,1) 51%, rgba(17,17,17,1) 65%, rgba(99,92,99,1) 85%, rgba(117,117,117,1) 90%, rgba(237,232,237,1) 100%);
	background: -ms-linear-gradient(top, rgba(76,76,76,1) 0%, rgba(89,89,89,1) 7%, rgba(71,71,71,1) 32%, rgba(44,44,44,1) 50%, rgba(0,0,0,1) 51%, rgba(17,17,17,1) 65%, rgba(99,92,99,1) 85%, rgba(117,117,117,1) 90%, rgba(237,232,237,1) 100%);
	background: linear-gradient(to bottom, rgba(76,76,76,1) 0%, rgba(89,89,89,1) 7%, rgba(71,71,71,1) 32%, rgba(44,44,44,1) 50%, rgba(0,0,0,1) 51%, rgba(17,17,17,1) 65%, rgba(99,92,99,1) 85%, rgba(117,117,117,1) 90%, rgba(237,232,237,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#ede8ed', GradientType=0 ); */

/* background: rgba(93,93,93,1);
	background: -moz-linear-gradient(top, rgba(93,93,93,1) 0%, rgba(102,102,102,1) 22%, rgba(96,96,96,1) 37%, rgba(83,83,83,1) 50%, rgba(33,33,33,1) 50%, rgba(0,0,0,1) 51%, rgba(52,52,52,1) 68%, rgba(115,115,115,1) 82%, rgba(255,255,255,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(93,93,93,1)), color-stop(22%, rgba(102,102,102,1)), color-stop(37%, rgba(96,96,96,1)), color-stop(50%, rgba(83,83,83,1)), color-stop(50%, rgba(33,33,33,1)), color-stop(51%, rgba(0,0,0,1)), color-stop(68%, rgba(52,52,52,1)), color-stop(82%, rgba(115,115,115,1)), color-stop(100%, rgba(255,255,255,1)));
	background: -webkit-linear-gradient(top, rgba(93,93,93,1) 0%, rgba(102,102,102,1) 22%, rgba(96,96,96,1) 37%, rgba(83,83,83,1) 50%, rgba(33,33,33,1) 50%, rgba(0,0,0,1) 51%, rgba(52,52,52,1) 68%, rgba(115,115,115,1) 82%, rgba(255,255,255,1) 100%);
	background: -o-linear-gradient(top, rgba(93,93,93,1) 0%, rgba(102,102,102,1) 22%, rgba(96,96,96,1) 37%, rgba(83,83,83,1) 50%, rgba(33,33,33,1) 50%, rgba(0,0,0,1) 51%, rgba(52,52,52,1) 68%, rgba(115,115,115,1) 82%, rgba(255,255,255,1) 100%);
	background: -ms-linear-gradient(top, rgba(93,93,93,1) 0%, rgba(102,102,102,1) 22%, rgba(96,96,96,1) 37%, rgba(83,83,83,1) 50%, rgba(33,33,33,1) 50%, rgba(0,0,0,1) 51%, rgba(52,52,52,1) 68%, rgba(115,115,115,1) 82%, rgba(255,255,255,1) 100%);
	background: linear-gradient(to bottom, rgba(93,93,93,1) 0%, rgba(102,102,102,1) 22%, rgba(96,96,96,1) 37%, rgba(83,83,83,1) 50%, rgba(33,33,33,1) 50%, rgba(0,0,0,1) 51%, rgba(52,52,52,1) 68%, rgba(115,115,115,1) 82%, rgba(255,255,255,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5d5d5d', endColorstr='#ffffff', GradientType=0 );
	 */

/* width: 126px; */

/* 


#mit_unt {
	background-image: url(../bilder/klavierunterricht_hrgr_m_un.jpg);
	background-repeat: repeat-x;
	width: 789px;
	height: 43px;
}

#mi_content {
	background-color: #070202;
	background-image: url(../bilder/klavierunterricht_hrgr_re_u.jpg);
	background-repeat: repeat-y;
	width: 153px;
}
#mi_content_unt {
	background-color: #070202;
	width: 153px;
	background-image: url(../bilder/klavierunterricht_hrgr_re_u.jpg);
	background-repeat: repeat;
}
#content_ob {
	background-image: url(../bilder/klavierunterricht_hrgr_m_c.jpg);
	background-repeat: repeat-y;
}
.button {
	color: #FFFFFF;
	font-family: Century Gothic, Verdana, Geneva, Tahoma, Sans-Serif;
	font-size: 13px;
}
#button_rot {
	background-repeat: repeat-x;
	background-image: url(../bilder/klavierunterricht_rot_hrgr.jpg);
}

#button_schwarz {
	background-repeat: repeat-x;
	background-image: url(../bilder/klavierunterricht_schwarz_h.jpg);
	width: 126px;
} 

#ecke_li_un {
	background-image: url(../bilder/klavierunterricht_hrgr_re_e.jpg);
	background-repeat: no-repeat;
	width: 56px;
	height: 43px;
}

#ecke_re_un {
	background-repeat: no-repeat;
	background-image: url(../bilder/klavierunterricht_hrgr_li_e.jpg);
	width: 55px;
	height: 43px;
}

#ecke_re_ob {
	background-image: url(../bilder/klavierunterricht_hrgr_re_o.jpg);
	background-repeat: no-repeat;
	width: 24px;
	height: 19px;
}*/